body {
  /* background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(200, 223, 175, 1) 0%,
      rgba(181, 133, 247, 1) 100%
    ); */
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 211, 233, 1) 100%
  );
}

#form {
  width: 300px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 7px;
  font-size: 18px;
}
#form h1 {
  color: #1a033b;
  text-align: center;
}
#form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: whitesmoke;
  background-color: #431be3;
  border-radius: 4px;
  border: none;
}
.input-control {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  padding: 10px;
  display: block;
  font-size: 15px;
}
.input-control input:focus {
  outline: 0;
}
.input-control.success input {
  border-color: green;
}
.input-control.error input {
  border-color: red;
}
.input-control .error {
  color: red;
  font-size: 15px;
  height: 15px;
}
