.property {
  /* background-color: blue;
  border: 1px solid red; */
}
.value {
  /* background-color: blueviolet; */
}
.container {
  display: flex;
  background-color: blue;
  border: 1px solid blue;
}
.styleBox {
}
